.product.product_cat-spare-parts form.cart .variations select {
    padding: 10px;
    margin-bottom: 8px;
}

.product.product_cat-spare-parts div.summary .variations td.label {
    padding-top: 10px;
}

.product.product_cat-spare-parts div.summary .single_variation_wrap {
    padding-left: 0px;
}

.product.product_cat-spare-parts .font-weight-medium {
    font-weight: 700;
    display: inline-block;
    width: 115px;
    text-align: left;
}

span.request-spare-popup {
    text-decoration: underline;
    cursor: pointer;
    color: #E0457B;
}

@media only screen and (max-width: 480px) {
  .wpsl-location-directions p {
    padding-top: 14px;
    text-align: left !important;
  }
  .wpsl-location-directions a.font-weight-bold:before {
    content: 'Get ';
  }
  .section-locator .wpsl-direction-wrap {
    text-align: left;
    position: initial;
  }

  .mobile-padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .mobile-padding h1.elementor-heading-title.elementor-size-default {
    text-align: center;
  }

  div#woo-tab-contact-details p {
    text-align: center;
  }

  .wpsl-location-address.wpsl-open-hours p {
    text-align: left !important;
  }

  .elementor-location-single ul.tabs-showroom__nav.nav.nav-pills.mb-3 {
    max-width: 500px !important;
  }

  .elementor-location-single .tabs-showroom .nav-link {
    min-width: 110px;
    font-size: 12px;
  }

  .woo-downloads .row.align-items-center {
    display: block !important;
    padding-bottom: 15px;
  }

  .woo-downloads .row + .row {
    padding-top: 15px;
  }

  .woocommerce-cart main .elementor-column-wrap.elementor-element-populated {
    padding: 22px !important;
  }

  tr.woocommerce-cart-form__cart-item.cart_item {
    position: relative;
  }

  .product-remove {
    position: absolute;
    top: 24px;
    right: 0px;
    margin-top: 0px !important;
  }

  table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
    position: relative;
    padding-bottom: 15px;
  }

  .woocommerce table.shop_table .woocommerce-cart-form__cart-item td.product-thumbnail {

    display: block !important;
    text-align: left !important;
    margin-top: 30px !important;
    padding-top: 30px !important;

  }

  .woocommerce table.shop_table .woocommerce-cart-form__cart-item td.product-thumbnail:before {
    display: none;
  }

  .woocommerce table.shop_table .woocommerce-cart-form__cart-item td.product-price, .woocommerce table.shop_table .woocommerce-cart-form__cart-item td.product-quantity, .woocommerce table.shop_table .woocommerce-cart-form__cart-item td.product-subtotal, .woocommerce table.shop_table .woocommerce-cart-form__cart-item td.product-name {
    border-top: none !important;
    padding: 0px !important;
  }

  .inspirations__filter-bar form {
    min-width: 0px;
  }

  .inspirations__filter-bar .select-wrap {
    width: 150px;
  }

  .banner-inspire-ch-h {
    background-size: cover;
  }

  .banner-inspire-ch-h .elementor-container.elementor-column-gap-default:first-child {
    min-height: 250px;
  }

  ul.tabs-showroom__nav.nav.nav-pills.mb-3 {
    max-width: 360px;
    margin: auto;
  }

  .modal-body #ajax-modal-product--content .button {
    float: none !important;
    margin-top: 20px !important;
  }

  .product.product_cat-spare-parts form.cart .variations select {
    padding: 5px 10px !important;
    margin-bottom: 4px;
  }

  .product.product_cat-spare-parts div.summary .read-more {
    text-align: left !important;
  }

  .product.product_cat-spare-parts div.summary .variations td.label {
    width: 75px;
  }

  .product.product_cat-spare-parts div.summary p.price {
    text-align: center;
  }

  .product.product_cat-spare-parts .single_variation_wrap .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled .quantity {
    padding-left: 0px;
  }

  .product.product_cat-spare-parts .font-weight-medium {
    font-weight: 700;
    display: inline-block;
    width: 70px;
    text-align: left;
  }

  .product.product_cat-spare-parts form.cart .button {
    vertical-align: middle;
    float: none;
    width: 58%;
  }

  .pink {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .tab-content #woo-tab-fabric .mt-4 a {
    font-size: 16px;
  }

  .tab-content #woo-tab-fabric .mt-4, .tab-content #woo-tab-fabric .mb-2 {
    text-align: center;
  }

  div.product div.images.woo-images {
    max-height: 320px;
  }

  div.product div.images.woo-images img.wp-post-image {
    min-height: 320px;
  }

  .block-top-shop .col {
    padding: 3px 10px;
  }
}

@media only screen and (max-width: 480px) {
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100%;
    }
}

@media only screen and (max-width: 406px) {
    .elementor-location-single .tabs-showroom .nav-link {
        font-size: 9px;
        min-width: 90px;
    }

    .elementor-location-single ul.tabs-showroom__nav.nav.nav-pills.mb-3 {
        max-width: 320px;
        margin: auto;
    }
}

@media only screen and (max-width: 350px) {
    .elementor-location-single .tabs-showroom .nav-link {
        font-size: 9px;
        min-width: 0px;
        padding: 8px;
    }
}

@media only screen and (max-width: 678px) {
    .container--products .px-2.px-lg-3.px-xl-4.balance-elements.mb-2.d-none.d-lg-block {
        display: block !important;
    }

    .related.products h2.woocommerce-loop-product__title {
        font-size: 14px !important;
        padding-left: 15px !important;
    }

    .related.products ul.products.columns-3 {
        display: inline-flex;
        white-space: nowrap;
        width: 100%;
    }

    .woocommerce-page .related.products ul.products.columns-3 li.product,
    .woocommerce .related.products ul.products.columns-3 li.product {
        min-width: 85% !important;
        margin-right: 30px;
        display: inline-block;
        border: 1px solid #e8e8e8;
        padding-bottom: 12px;
    }

    .extra-container {
        overflow-x: scroll;
        padding-bottom: 40px;
    }

  .woocommerce div.product div.summary {
    padding: 3% 15px;
  }
}

span.wpcf7-form-control-wrap.postcode input[type=number] {
    background: transparent !important;
    border-radius: 0 !important;
    border: 1px solid #dbdbdb !important;
    box-shadow: none !important;
    display: block !important;
    width: 100% !important;
    margin-bottom: 15px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .3s ease-in-out !important;
    padding: 17px !important;
}

.codedropz-upload-inner h3 {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    font-size: 18px;
}

.codedropz-upload-wrapper {
    margin-top: -20px;
}

.modal-dialog.ch-width {
    max-width: 650px;
}

.modal-body.spare-parts {
    padding: 40px;
}

h5.modal-title-top {
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
}


@media only screen and (min-width: 1024px) {
    .elementor-hidden-phone {
        margin-bottom: 0 !important;
    }
}


#mega-menu-wrap-primary_menu #mega-menu-primary_menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    color: #393736 !important;
}

#mega-menu-wrap-primary_menu #mega-menu-primary_menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover {
    color: #e0457b!important
}

@media only screen and (max-width: 678px) {
    .woocommerce-page ul.products.columns-3 li.product, .woocommerce ul.products.columns-3 li.product {
        min-width: 100%!important;
        margin-right: 0;
    }
}
