// Default button
.btn {
  border-radius: 0;
  z-index: 1;
  position: relative;
  display: inline-block;
  font-size: rem(18px);
  font-weight: 600;
  padding: 10px 15px;
  border: 1px solid var(--e-global-color-primary);
  background: rgb(255, 255, 255, 0.6);
  color: var(--e-global-color-primary);
  overflow: visible;
  @include st-transition;

  @include media-breakpoint-up(md) {
    min-width: 12rem;
    padding: 17px 20px;
  }

  .elementor-button-icon {
    margin-top: -5px;
    transform: translateY(4px);
  }

  &::before, &::after {
    content: '';
    width: 35px;
    height: 23px;
    display: block;
    position: absolute;
    transition: all 0.3s;
  }

  &::before {
    border-top: 2px solid var(--e-global-color-primary);
    border-left: 2px solid var(--e-global-color-primary);
    top: -$corner-border-width;
    left: -$corner-border-width;
  }

  &::after {
    border-bottom: 2px solid var(--e-global-color-primary);
    border-right: 2px solid var(--e-global-color-primary);
    bottom: -$corner-border-width;
    right: -$corner-border-width;
  }

  &:hover {
    text-decoration: none;
    color: var(--e-global-color-primary);

    @include media-breakpoint-up(xl) {
      border-color: transparent;

      &::before, &::after {
        width: calc(100% + 6px);
        height: calc(100% + 6px);
      }

      .elementor-button-text {
        /*transform: scale(1.1);*/
      }
    }
  }

  &:focus {
    outline: none !important;
    box-shadow: none;
  }

  .elementor-button-text {
    transition: all 0.3s;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
  }

  // Arrow button
  &--arrow {
    width: 50px;
    height: 40px;
    display: block;
    background: url('#{$images}/arrow-long.svg') center / 25px no-repeat;
    background-position: 50%;
    position: relative;
    @include st-transition;
    text-decoration: none !important;

    @include media-breakpoint-up(lg) {
      width: 80px;
      height: 55px;
      background-size: 40px;
    }

    &::after {
      content: '';
      position: absolute;
      transition: all 0.3s;
      bottom: 0;
      right: 0;
      border-bottom: $corner-border-width solid var(--e-global-color-primary);
      border-right: $corner-border-width solid var(--e-global-color-primary);
      width: 100%;
      height: 100%;
    }

    &:hover {
      @include media-breakpoint-up(xl) {
        cursor: pointer;

        &::after {
          width: 130%;
          height: 130%;
        }
      }
    }
  }

  &--order {
    img, .circle-wrap {
      transition: all 0.3s;
    }

    .circle-wrap {
      transform: translate(-100%);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &-active {
      .circle-wrap {
        transform: translate(-3px);
      }

      img {
        opacity: 0;
        transform: translate(-100%);
      }
    }
  }

  &--small {
    font-size: rem(16px);
  }

  &--arrow-link {
    border: 0;
    padding-right: 45px;
    font-size: 18px;
    background: url('#{$images}/arrow-long.svg') right 10px center / 25px 15px no-repeat;
    @include st-transition;
    font-weight: 500;
    text-decoration: none !important;

    &::before, &::after {
      content: none;
    }

    &:hover {
      @include media-breakpoint-up(xl) {
        background-position: right 5px center;
      }
    }

    &--reverse {
      background: url('#{$images}/arrow-left.svg') left 0 center / 25px 15px no-repeat;
      padding-left: 35px;
      padding-right: 0;

      &:hover {
        @include media-breakpoint-up(xl) {
          background-position: left 0 center;
        }
      }
    }
  }

  &--more-link {
    color: var(--e-global-color-primary);
    border: 0;
    font-weight: 500;

    &::before {
      content: '';
      background: url('#{$images}/arrow-long.svg');
      display: inline-block;
      width: 36px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(90deg) translate(5px, 5px);
    }

    &:hover {
      color: var(--e-global-color-primary);
      text-decoration: none;

      @include media-breakpoint-up(xl) {
        background-position: left 5px center;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &--view-cart {
    line-height: 33px;
    min-width: 120px;
    margin-right: 10px;
  }

  &--full-width--mobile {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.woocommerce a.button.btn--outline {
  border: 2px solid var(--e-global-color-primary);
  background-color: transparent;
  color: var(--e-global-color-primary);
}

.n2-ss-button-container a.btn {
  border-radius: 0 !important;
  z-index: 1 !important;
  position: relative !important;
  display: inline-block !important;
  font-size: rem(18px) !important;
  font-weight: 600 !important;
  padding: 17px 20px !important;
  border: 1px solid var(--e-global-color-primary) !important;
  background: rgb(255, 255, 255, 0.6) !important;
  color: var(--e-global-color-primary) !important;
  overflow: visible !important;
  transition: all .25s ease-in-out 0s !important;

  @include media-breakpoint-up(lg) {
    min-width: 12rem !important;
  }

  &::before, &::after {
    content: '';
    width: 35px;
    height: 23px;
    display: block;
    position: absolute;
    transition: all 0.3s;
  }

  &::before {
    border-top: 2px solid var(--e-global-color-primary);
    border-left: 2px solid var(--e-global-color-primary);
    top: -$corner-border-width;
    left: -$corner-border-width;
  }

  &::after {
    border-bottom: 2px solid var(--e-global-color-primary);
    border-right: 2px solid var(--e-global-color-primary);
    bottom: -$corner-border-width;
    right: -$corner-border-width;
  }

  &:hover {
    text-decoration: none !important;
    @include media-breakpoint-up(xl) {
      border-color: transparent !important;

      &::before, &::after {
        width: calc(100% + 4px);
        height: calc(100% + 4px);
      }
    }
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

// Load more buttons
.ajax-load-more-wrap.white .alm-load-more-btn,
.alm-load-more-btn.more {
  @extend .btn;
  height: auto;

  &:focus,
  &:hover {
    color: var(--e-global-color-primary);
  }

  &:focus {
    border-color: var(--e-global-color-primary);;
  }

  &.loading {
    transition: none;

    &:before,
    &:after {
      border: 0;
      transition: none;
    }
  }

  &.done {
    pointer-events: none;
  }
}

// Elementor buttons
.elementor-element.elementor-button {
  &-link, &-info, &-success, &-warning {
    .elementor-button {
      @extend .btn;
    }
  }
}

.elementor-element.elementor-widget-button {
  .elementor-button {
    @extend .btn;
  }
}

.elementor-element.elementor-button {
  &-danger {
    .elementor-button {
      @extend .btn--arrow-link;
    }
  }
}

.elementor-button-link.elementor-button {
  &.elementor-size-sm {
    @extend .btn;
  }
}

.elementor-widget-archive-posts .elementor-post__read-more {
  @extend .btn--arrow;
}
