[data-elementor-type="header"] {
  position: relative;
  z-index: 3;
}

.dialog-message {
  font-size: inherit;
}

.elementor-nav-menu .sub-arrow {
  background: url("#{$images}/chev-down.svg") 100%/14px 7px no-repeat;
  color: rgba(0, 0, 0, 0);
  margin-left: 5px;
}

.section-sides {
  &:after {
    content: "";
    position: absolute;
    width: 130px;
    height: 65px;
    background-image: url("#{$images}/img-corner-right.png");
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .elementor-container {
    max-width: 1500px !important;
  }

  .block-custom {
    width: 30% !important;
    top: 50%;
    left: 50%;
    transform: translate(-188%, -29%);

    @include media-breakpoint-down(md) {
      width: 100% !important;
      top: 0;
      left: 0;
      transform: none;
      padding-top: 25px;
    }

    h2 {
      font-weight: 700;
    }

    a#link-text {
      border: none;
      background: transparent;
      color: var(--e-global-color-primary);
      padding: 0;
      font-size: 18px;
    }

    p {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .elementor-widget-wrap {
      position: absolute;
      background: #fff;
      left: -100px;
      width: auto;
      padding-left: 11%;
      padding-bottom: 0;
      min-height: 376px;

      @include media-breakpoint-down(md) {
        position: relative;
        left: 0;
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0;
        text-align: center;
        min-height: auto;
      }

      &:before {
        content: "";
        position: absolute;
        width: 50px;
        height: 100%;
        background-image: url("#{$images}/left-sub-right.png");
        top: 0;
        left: -49px;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  .extra-w-block {
    width: 80% !important;

    @include media-breakpoint-down(md) {
      width: 100% !important;
    }

    div#img-left-t:before {
      content: "";
      position: absolute;
      background-image: url("#{$images}/img-corner-left.png");
      width: 100px;
      height: 65px;
      left: 0;
      background-size: cover;
      top: 5px;
      background-repeat: no-repeat;

      @include media-breakpoint-down(md) {
        top: 1px;
      }
    }

    img {
      min-height: 650px;
      object-fit: cover;
      min-width: 780px;
      width: 100%;

      @include media-breakpoint-down(md) {
        min-width: 100%;
        min-height: auto;
      }
    }
  }
}

#step-two,
#step-three,
#step-four {
  display: none;
}

#steps-main-block {
  margin-bottom: 45px;
  margin-top: 65px;

  img {
    opacity: 0.57;
  }

  figure.wp-caption:after {
    content: "";
    background: var(--e-global-color-primary);
    display: block;
    position: absolute;
    height: 2px;
    width: 165px;
    right: -91px;
    top: 34px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  div#step-img-four figure.wp-caption:after {
    display: none;
  }

  div#step-img-one {
    img {
      opacity: 1;
    }

    figcaption {
      opacity: 1;
    }
  }

  img {
    height: 62px;
    object-fit: contain;
    max-width: 66px;
  }

  figcaption {
    font-weight: 700;
    color: var(--e-global-color-primary);
    padding-top: 15px;
    opacity: 0.57;
  }
}

section#step-four,
section#step-three,
section#step-two,
section#step-one {
  text-align: center;
  max-width: 580px;
  margin: auto;

  h3 {
    font-size: 20px;
    padding-bottom: 15px;
  }
}

.max-width-f {
  max-width: 700px;
  text-align: center;
  margin: auto;
}

.steps {
  text-align: center;

  h3 {
    &.step {
      font-weight: 700;
      color: var(--e-global-color-primary);
      font-size: 16px;
      padding-top: 15px;
    }
  }

  h4 {
    font-size: 20px;
    color: var(--e-global-color-text);
    padding-bottom: 15px;
  }

  img {
    height: 62px;
    -o-object-fit: contain;
    object-fit: contain;
    max-width: 66px;
  }

  .nav-pills {
    @include media-breakpoint-down(md) {
      overflow: scroll;
      flex-wrap: nowrap;
    }
  }

  .block-nav-overflow {
    overflow: hidden;

    @include media-breakpoint-down(md) {
      overflow: scroll;
    }
  }

  .nav-item {
    padding: 20px;
    position: relative;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      width: 170px;
      display: inline-block;
    }

    .img-wrap {
      background-color: #fff;
      padding: 10px;
      position: relative;
      z-index: 1;
    }

    &:before,
    &:after {
      content: "";
      background: var(--e-global-color-primary);
      display: block;
      position: absolute;
      height: 1px;
      width: 50%;
      top: 60px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    &:first-child:before,
    &:last-child:after {
      content: none;
    }

    .nav-link {
      h3,
      .img-wrap img {
        opacity: .5;
      }

      &.active {
        background-color: transparent;

        h3,
        .img-wrap img {
          opacity: 1;
        }
      }
    }
  }

  .tab-content > .tab-pane {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.help-section {

  @include media-breakpoint-down(sm) {
    max-width: 75%;
    margin: auto;
  }

  .mobile-ch {

    @include media-breakpoint-down(sm) {
      width: 50%;
      padding-bottom: 20px;
    }
  }
}

.banner-inspire-ch-h {

  @include media-breakpoint-down(sm) {
    background-size: cover;
  }

  .elementor-container.elementor-column-gap-default:first-child {
    @include media-breakpoint-down(sm) {
      min-height: 250px;
    }
  }
}