form, .form-wrap {
  input[type=text], input[type=tel], input[type=email], textarea, select {
    background: transparent;
    border-radius: 0;
    border: 1px solid $border;
    box-shadow: none;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    appearance: none;
    transition: border-color .3s ease-in-out;
    padding: 17px;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $border;
    }

    &:-ms-input-placeholder {
      color: $border;
    }

    &::placeholder {
      color: $border;
    }
  }

  input[type=submit], div.wpcf7 input[type="file"] {
    background-color: var(--e-global-color-primary);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: var(--e-global-color-accent);
    }
  }

  .select2-container--default .select2-selection--single {
    background: transparent;
    border-radius: 0;
    border: 1px solid $border;
    box-shadow: none;
    display: block;
    width: 100%;
    margin-bottom: 0;
    appearance: none;
    transition: border-color .3s ease-in-out;
    padding: 12px;
    height: 55px;

    b {
      display: none !important
    }

    &:focus {
      outline: none;
    }

    &::after {
      content: "";
      background: url('#{$images}/chev-down.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 11px;
      position: absolute;
      right: 15px;
      top: 25px;
      z-index: 1;
      transform: scale(0.8);
      pointer-events: none;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-right: 40px;
    outline: none;
    cursor: pointer;
    background: url('#{$images}/chev-down.svg') right 12px center / 15px no-repeat;
  }

  textarea {
    padding: 15px;
    max-height: 139px;
    line-height: 29px;
  }

  span.wpcf7-list-item:first-child {
    margin-left: 0;
  }

  .ajax-loader {
    position: absolute;
    bottom: 16px;
  }
}

.select2-dropdown {
  border-color: $border;
}

// Default cf7
.wpcf7-not-valid-tip {
  display: none !important
}

.wpcf7-not-valid {
  border-color: red !important;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  margin: 0;
  margin-top: $gutter;
  border: none;
  background-color: #7d0808;
  padding: $gutter;
  color: white;
  text-align: center;
}

div.wpcf7-mail-sent-ok {
  margin: 0;
  margin-top: $gutter;
  border: none;
  background-color: #e4b01d;
  padding: $gutter;
  color: white;
  text-align: center;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 30px;
}

.wpcf7 .ajax-loader {
  position: absolute;
  right: -42px;
}
