@each $name, $color in $colors {
  .color-#{$name} {
    color: $color !important;
  }

  .#{$name} {
    color: #{$color} !important;
  }
  .bg-#{$name} {
    background-color: #{$color};
  }
}

html,
body {
  font-family: $font-sans-serif;
}

html {
  font-size: $font-size-root;
}

body {
  font-size: rem(16px);
  font-family: $font-sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}

.h1 {
  font-size: rem(35px);

  @include media-breakpoint-up(md) {
    font-size: rem(48px) !important;
  }
}

h2, .h2 {
  font-size: rem(45px);

  @include media-breakpoint-up(md) {
    font-size: rem(32px);
  }
}

h3, .h3 {
  font-size: rem(24px);
}

h4, .h4 {
  font-size: rem(24px);
}

h5, .h5 {
  font-size: rem(22px);
}

h6, .h6 {
  font-size: rem(20px);
}

p {
  margin-bottom: 15px;

  @include media-breakpoint-up(xl) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

textarea,
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="phone"],
input[type="date"],
input[type="text"],
input[type="email"] {
  @include clear-outline();
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

iframe {
  border: 0;
}

.font-weight-medium {
  font-weight: 500;
}

#wpadminbar {
  @media (max-width: 600px) {
    position: fixed;
  }
}

#page {
  overflow: hidden;
}

.wow {
  visibility: hidden;

  &.wow-visible {
    visibility: hidden;
  }
}

.content-columns-2 {
  @include media-breakpoint-up(lg) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.content-columns-3 {
  @include media-breakpoint-up(lg) {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

.section {
  padding: 45px 0;

  @include media-breakpoint-up(lg) {
    padding: 90px 0;
  }

  &.section-sm {
    @include media-breakpoint-up(lg) {
      padding: 45px 0;
    }
  }

  &.section-md {
    @include media-breakpoint-up(lg) {
      padding: 75px 0;
    }
  }

  &.section-lg {
    @include media-breakpoint-up(lg) {
      padding: 135px 0;
    }
  }
}

.container {
  &--products {
    max-width: 1600px;
    margin-bottom: 4%;

    $w3: 21%;

    .col-lg-3 {
      @include media-breakpoint-up(xxl) {
        flex: 0 0 $w3;
        max-width: $w3;
      }
    }

    .col-lg-9 {
      @include media-breakpoint-up(xxl) {
        flex: 0 0 (100 - $w3);
        max-width: (100 - $w3);
      }
    }
  }

  &--checkout {
    max-width: 1400px;
  }
}

.wp-pagenavi a, .wp-pagenavi span {
  font-size: 14px;
  border-width: $paging-border-width;
  padding: 6px;
  text-decoration: none !important;
  color: var(--e-global-color-text);
  font-weight: 500;
  min-width: 32px;
  display: inline-block;

  &:hover,
  &.current {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
  }
}

.modal {
  .close {
    opacity: 1;
  }

  .modal-header {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    z-index: 1;
  }

  .modal-content {
    border: 0;
    border-radius: 0;
  }

  .modal-xxl {
    @include media-breakpoint-up(lg) {
      max-width: 98%;
    }
  }

  .modal-xl {
    @include media-breakpoint-up(xxl) {
      max-width: 1400px;
    }
  }

  .close {
    &:hover, &:focus {
      outline: none;
    }
  }
}

.modal-backdrop {
  + .modal-backdrop {
    z-index: 1051;

    .term-fabric-samples &,
    + .modal-backdrop {
      z-index: 1052;
    }
  }
}

.corner--top-left {
  position: relative;

  &::before {
    content: '';
    width: $corner-width;
    height: $corner-height;
    display: block;
    position: absolute;
    z-index: 1;
    border-top: $corner-border-width solid var(--e-global-color-primary);
    border-left: $corner-border-width solid var(--e-global-color-primary);
    top: 0;
    left: 0;
  }
}

.corner--bottom-right {
  position: relative;

  &::after {
    content: '';
    width: $corner-width;
    height: $corner-height;
    display: block;
    position: absolute;
    z-index: 1;
    border-bottom: $corner-border-width solid var(--e-global-color-primary);
    border-right: $corner-border-width solid var(--e-global-color-primary);
    bottom: 0;
    right: 0;
  }
}

.corner--both {
  @extend .corner--top-left;
  @extend .corner--bottom-right;
}

.inspirations {
  &__filter-bar {
    h4 {
      font-weight: 600;
      color: #fff;
      margin-bottom: 0;
    }

    label {
      margin-bottom: 0;
    }

    .select-wrap {
      background: #fff;

      select {
        padding-right: 50px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 0;
        border: 0;
      }
    }

    form {
      min-width: 250px;
    }
  }

  &__select {
    color: var(--e-global-color-text);
    font-size: 20px;
  }

  &__posts {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;

      .container-fluid {
          padding-left: 0;
          padding-right: 0;
      }

      .grid {
          margin: -4px;
      }
    }

    .grid-item {
      width: 50%;
      padding: 4px;

      @include media-breakpoint-up(md) {
          padding: 7px;
      }

      @include media-breakpoint-up(lg) {
        width: 33%;
      }
    }

    .alm-btn-wrap {
      margin-top: 40px;
    }
  }
}

.ajax-load-more-wrap.white .alm-load-more-btn.loading:before {
  background-image: url('#{$images}/loading.svg');
  background-size: 50px;
}

.grid-item {
  &:hover {
    .grid-item__pattern-image {
      transform: translate(0, 0);
    }
  }

  &__inner-content {
    display: block;
    overflow: hidden;
    position: relative;

    [id*="big_play_button_background"] {
      display: none !important;
    }

    .wistia_responsive_padding {
      pointer-events: none;
    }
  }

  &__pattern-image {
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    transform: translate(0, 0);

    @include media-breakpoint-up(md) {
      transform: translate(100%, 100%);
      width: 120px;
    }
  }

  &__play {
    @include absolute-center;
    z-index: 2;

    @include media-breakpoint-down(sm) {
        transform: translate(-50%,-50%) scale(0.6);
    }
  }
}

.block-post {
  position: relative;
  @include st-transition;

  &:hover {
    @include st-card-hover;

    /*.block-post__image img {
      transform: scale(1.1);
    }*/
  }

  &__image {
    height: 260px;
    overflow: hidden;

    @include media-breakpoint-up(xxl) {
      height: 430px;
    }

    img {
      object-fit: cover;
      height: 100%;
      @include st-transition;
    }
  }

  &__meta {
    font-size: 14px;
  }
}

.jobs-list {
  &__item {
    border-bottom: 1px solid var(--e-global-color-accent);
  }
}

.bg-center {
  @include bg-image-pos(center);
}

.bg-saw {
  $h: 100px;
  margin-bottom: $h;
  position: relative;

  @media print {
    margin-bottom: 20px;
  }

  &:after {
    @include pseudo-content;
    left: 0;
    z-index: -1;
    top: 100%;
    width: 100%;
    height: $h;
    background-image: url('#{$images}/saw.svg');
    background-position: 0 -1px;
    background-repeat: repeat-x;
    background-size: 100px;

    @media print {
      content: none;
    }
  }
}

.badge-primary {
  border-radius: 0;
  color: var(--e-global-color-primary);
  border: 1px solid var(--e-global-color-primary);
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;

  &.active,
  &:hover {
    background-color: var(--e-global-color-primary);
    color: #fff;
  }
}

.elementor-editor-active {
  section#step-four, section#step-three, section#step-two, section#step-one {
    display: block !important;
  }
}

.text-bold {
  font-weight: 700;
}

.overflow-hidden {
  overflow: hidden;
}

.text-thin {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.form-wrap {
  &--footer {
    select {
      padding: 14px !important;
    }
  }
}

.single-wpsl_stores {
  .wpsl-gmap-canvas {
    height: 450px !important;
  }

  .wpsl-locations-details > span:first-child {
    display: none;
  }

  $w: 17px;

  .wpsl-icon {
    width: $w;
    padding-right: 5px;
  }

  .wpsl-location-address {
    padding-left: $w + 5px;
    position: relative;

    p {
      margin-bottom: 0;
    }

    .wpsl-icon {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.carousel--showroom {
  .carousel-item {
    height: 300px;

    @include media-breakpoint-up(lg) {
      height: 500px;
    }
  }
}

.section-locator {
  $p-left: 10%;
  $h: 46px;

  .wpsl-search {
    background: none;
    padding-left: 10px;
    padding-right: 12px;

    @include media-breakpoint-up(xl) {
      position: absolute;
      left: $p-left;
      width: 33%;
      max-width: 617px;
      padding-top: 0;

      .modal & {
        padding-top: 0;
        position: static;
        left: auto;
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: 675px) {
      position: absolute;
      z-index: 1;
      padding: 15px;
      background: #fff;
      top: 10px;
      left: 10px;
      right: 10px;
    }
  }

  #wpsl-result-list {


    @include media-breakpoint-up(xl) {
      width: 43%;
      padding-left: $p-left;
      $pt: 210px;
      padding-top: $pt;
      margin-bottom: -$pt;

      #wpsl-stores {
        overflow: hidden;

        ul {
          padding-bottom: $pt;
        }
      }

      .modal & {
        padding-left: 0;
        padding-top: 0;
      }
    }
  }

  #wpsl-gmap {
    @include media-breakpoint-up(xl) {
      width: 57%;
    }

    @media screen and (max-width: 675px) {
      margin-top: 0;
    }
  }

  #wpsl-search-btn {
    color: #fff;
    background: transparent;
    box-shadow: none;
    height: $h;
    line-height: $h - 10;
    white-space: nowrap;
    margin: 0;
    padding: 0 10px;
    text-decoration: none !important;
    display: inline-block;
    font-weight: bold;
    //-webkit-font-smoothing: antialiased;
    text-align: center;
    text-shadow: none;
    border: 0;
    border-left: 1px solid $border;
    border-radius: 0;
    position: relative;
    width: 100%;
    @include st-transition();

    @media screen and (max-width: 675px) {
      width: 100%;
      margin: 0 !important;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  #wpsl-search-input {
    height: $h;
    width: 100% !important;
    border: 0;
    font-weight: 500;
    padding: 0 50px 0 15px;
  }

  #wpsl-search-wrap {
    form {
      border: 1px solid $border;
      padding-top: 7px;
      padding-bottom: 7px;
    }

    .input-wrapper {
      @include media-breakpoint-up(xl) {
        min-width: 220px;
        margin-right: 0;
      }
    }
  }

  .wpsl-country, .wpsl-street {
    display: inline-block;
  }

  .wpsl-store-location {
    span.wpsl-street:after {
      content: ', ';
    }

    > p:first-child strong,
    > p:first-child strong a {
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      padding-right: 70px;
    }
  }

  .wpsl-contact-details {
    a {
      &[href^="mailto:"] {
        text-decoration: underline;
        color: var(--e-global-color-primary);
      }
    }
  }

  .wpsl-store-thumb {
    display: none;
  }

  .wpsl-directions {
    font-weight: bold;
    color: var(--e-global-color-primary);
    display: inline-block;
  }

  .wpsl-direction-wrap {
    position: absolute;
    top: 15px;
    right: 20px;

    @include media-breakpoint-down(xl) {
      top: 18px;
      text-align: right;
    }

    @include media-breakpoint-up(xxl) {
      right: 30px;
    }

    a {
      display: block;
    }
  }

  #wpsl-wrap {
    margin-bottom: 0;

    #wpsl-result-list li {
      border-bottom: 0;
      padding-right: 30px;
      position: relative;

      @include media-breakpoint-down(xl) {
        padding: 20px;
      }

      p {
        margin-bottom: 10px;
      }

      + li {
        .wpsl-store-location {
          border-top: 1px solid $border;
          padding-top: 30px;
        }

        .wpsl-direction-wrap {
          top: 40px;
        }
      }
    }
  }

  $iw: 85%;

  .wpsl-no-filters #wpsl-search-wrap .wpsl-input {
    width: $iw !important;
    margin-right: 0;
    margin-bottom: 0;
  }

  #wpsl-search-wrap .wpsl-search-btn-wrap {
    width: 100 - $iw;
    padding-left: 15px;
    margin-right: 0;

    @media screen and (max-width: 675px) {
      margin: 0;
      clear: none;
    }
  }

  #wpsl-stores, #wpsl-direction-details, #wpsl-gmap {
    @media screen and (max-width: 675px) {
      height: 560px !important;
    }
  }

  h1 {
    @include media-breakpoint-up(xl) {
      font-size: 32px;
    }
  }
}

.rplg .rplg-review-name {
  color: var(--e-global-color-primary) !important;
}

.rplg-slider .rplg-box:before,
.rplg .rplg-box {
  background-color: var(--e-global-color-411d51e) !important;
}

.rplg .rplg-stars svg path {
  fill: var(--e-global-color-primary);
}

.read-more {
  overflow: hidden;
  max-height: 210px;
  @include st-transition;

  @include media-breakpoint-up(lg) {
    max-height: 205px;
  }
}

a[data-readmore-toggle] {
  margin-top: 10px;
  margin-bottom: 15px;
  display: inline-block;
}

.video-js {
  .vjs-big-play-button {
    top: 50%;
    left: 50%;
    height: 2.5em;
    width: 2.5em;
    transform: translate(-50%, -50%);
    background: url('#{$images}/play.svg') center / contain no-repeat !important;
    border: 0;
    border-radius: 50%;

    .vjs-icon-placeholder::before {
      content: none;
    }
  }

  &:hover {
    .vjs-big-play-button {
      @include st-shadow;
    }
  }
}

.edit-post-link {
  color: #fff !important;
  background-color: var(--e-global-color-primary);
  border-radius: 10px;
  font-size: 12px;
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  text-decoration: none !important;
  padding: 1px 5px;
  font-weight: 500;
  display: none;

  @include media-breakpoint-up(md) {
      display: inline-block;
  }

  &:hover {
    background-color: var(--e-global-color-accent);
  }
}
