#mega-menu-wrap-primary_menu #mega-menu-primary_menu > li.mega-menu-item.link-button > a.mega-menu-link {
  @extend .btn;
  line-height: 0.9;
  font-weight: 500 !important;
  height: 50px;
  text-align: center;

  @include media-breakpoint-down(lg) {
    margin: 10px;
    height: 40px;
    width: calc(100% - 20px);
  }
}

#mega-menu-wrap-primary_menu #mega-menu-primary_menu > li.mega-menu-item:last-child {
  margin-right: 0;
}

#mega-menu-wrap-primary_menu #mega-menu-primary_menu > li.mega-menu-megamenu.custom-mega {
  &.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator:after {
    color: rgba(0, 0, 0, 0);
    background: url("#{$images}/chev-down.svg") center / 14px 7px no-repeat;
  }

  > li.mega-menu-item:last-child {
    margin-right: 0;
  }

  ul.mega-sub-menu {
    @include media-breakpoint-up(xl) {
      display: block;
      /*flex-direction: column;
      justify-content: center;*/
    }
  }

  $ptm: 60px;

  > ul.mega-sub-menu {
    @include media-breakpoint-up(xl) {
      padding: $ptm 0 100px;
      background: #fff url('#{$images}/bg1.svg') left bottom / 90px repeat-x;
      height: calc(100vh - #{$header-lower-height} + 10px);
      overflow: hidden;

      .admin-bar & {
        height: calc(100vh - #{$header-lower-height} - #{$g-admin-bar-small} + 10px);
      }
    }

    .mega-menu-link {
      @include media-breakpoint-up(xl) {
        padding: 1.5vh 15% !important;
        font-size: 26px !important;
        line-height: 1.2;
      }
    }

    $mw: 460px;
    $space: '(100vw - 1400px) / 2';

    li.mega-menu-item {
      @media (min-width: 1200px) {
          width: 100%;
          max-width: 390px;
          margin-left: calc(50vw - 600px);
          position: static;
          padding: 0;

          &.mega-menu-item-has-children > .mega-menu-link > span.mega-indicator {
            &:after {
              background: url("#{$images}/chev-right.svg") center / 7px 14px no-repeat;
              color: transparent;
            }
          }
      }

      @media (min-width: 1400px) {
        max-width: $mw;
        margin-left: calc(#{$space});
      }

      &.mega-toggle-on,
      &.hover {
        > .mega-menu-link {
          font-weight: bold;
          color: var(--e-global-color-primary);
        }

        > .mega-sub-menu {
          @include media-breakpoint-up(xl) {
            display: block;
          }
        }
      }
    }

    ul.mega-sub-menu {
      @include media-breakpoint-up(xl) {
        padding-top: $ptm;
        margin-left: 0 !important;
        display: none;
        position: absolute;
        top: 0;
        left: $mw;
        width: 100%;
        max-width: $mw;
        height: 100%;
        // padding-bottom: 60px;
      }

      li.mega-menu-item {
        @include media-breakpoint-up(xl) {
          margin-left: 0;
        }
      }
    }

    /* Second level only */
    > li.mega-menu-item {
      > .mega-menu-link {
        @include media-breakpoint-up(xl) {
          padding-left: 10px !important;
        }
      }

      > ul.mega-sub-menu {
        @include media-breakpoint-up(xl) {
          left: calc(#{$space} + #{$mw});
        }
      }
    }
  }
}

body {
    // Active offcanvas state
    &.offcanvas-active {
        .main {
            @include media-breakpoint-up(lg){
                opacity: 0.8;
                transform: translateX(-30px);
            }
        }
        .offcanvas {
            transform: translateX(0);

            &__toggle-burger {
                &--1, &--2 {
                    background-color: theme-color('primary');
                    width: 25px;
                    height: 2px;
                    display: block;
                    transform: rotate(45deg) translate(8px, 8px);
                }

                &--2 {
                    transform: rotate(-45deg) translate(5px, -4px);
                }

                &--3 {
                    opacity: 0;
                }
            }
        }
    }
}

.header-logo-image {
    img {
        @include media-breakpoint-down(sm){
            transform: scale(0.9);
        }
    }
}

// Mobile menu
.mobile-menu-wrap {
    .elementor-button-text {
        font-size: rem(12px);
    }
}

.offcanvas {
    display: block;
    position: fixed;
    right: 0;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
    transform: translateX(100%);
    box-shadow: rgba(#000, .16) -1px 6px 5px;
    width: 100%;
    z-index: 1480;
    height: calc(100vh - 75px);
    top: 75px;

    @include media-breakpoint-up(md){
        max-width: 430px;
    }

    @include media-breakpoint-up(lg){
        display: none;
    }

    hr {
        border-top: 1px solid #8DB7E1;
        max-width: 90%;
    }

    nav {
        transition: all 0.3s;
        transition-delay: 0.3s;

        li {
            display: inline-block;
            width: 100%;
            padding-bottom: 15px;
            margin-bottom: 15px;

            &:last-of-type {
                border-bottom: none;
            }

            > a {
                font-weight: 500;
            }

            a {
                color: #393735;
                display: inline-block;
                font-size: rem(21px);

                @include media-breakpoint-up(md){
                    transition: all 0.3s;
                    font-size: rem(26px);
                }

                &:hover {
                    @include media-breakpoint-up(xl){
                        transform: translateX(2px);

                        &::before {
                            width: 110%;
                            transform: translate(-5%, 14px);
                        }
                    }
                }

                &::before {
                    content: '';
                    display: block;
                    width: 0;
                    height: 1px;
                    background: pink;
                    transition: all 0.3s;
                    transform: translate(-7%, 14px);
                }
            }

            &.menu-item-has-children {
                > a {
                    display: block;
                    max-width: 70%;
                    text-decoration: none !important;

                    &::after {
                        content: '';
                        background: url('../images/chev-right.svg');
                        display: inline-block;
                        width: 7px;
                        height: 13px;
                        background-size: contain;
                        margin-left: 20px;
                        background-repeat: no-repeat;
                    }
                }
            }

            &.nav-item-small {
                margin-bottom: 5px;

                a {
                    font-size: rem(16px);
                    font-weight: 500;
                }
            }

            &.color-primary a {
                color: var(--e-global-color-primary);
            }

            .sub-menu {
                background: darken(white, 2%);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-width: 100%;
                padding-top: 3rem;
                padding-left: 3rem;
                padding-right: 3rem;
                z-index: 1;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                transform: translateX(100%);
                transition: all 0.3s;
                justify-content: flex-start;

                &--active {
                    transform: translateX(0);
                }
            }

            .menu-item-back {
                a {
                    color: transparent !important;

                    &::before {
                        content: '';
                        background: url('../images/chev-right.svg');
                        transform: rotate(180deg);
                        display: inline-block;
                        width: 10px;
                        height: 15px;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }

    &__inner {
        padding: 15%;
    }

    .woo-cart__toggle {
        position: relative;
        right: 10px;

        &::before {
            content: '';
            filter: invert(43%) sepia(94%) saturate(2572%) hue-rotate(313deg) brightness(91%) contrast(92%);
            background: url('#{$images}/shopping-cart.svg') no-repeat;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            transform: translateY(3px);
        }

        a {
            background: none !important;
            padding: 0 !important;
            width: 35px;
            height: auto;
        }
    }

    .woo-cart__count {
        display: none !important;
    }
}

.close-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    transition: all 0.3s;

    &:hover {
        transform: rotate(90deg);
    }
}

.offcanvas__toggle {
    margin-right: 10px;
    margin-top: 7px;

    &-white {
        filter: brightness(100);
        width: 25px;
    }
}

.close-button {
    margin-top: 0;
}

.offcanvas__toggle, .close-button {
    &:hover {
        @include media-breakpoint-up(lg){
            .offcanvas__toggle-burger--1 {
                transform: translateY(2px);
            }

            .offcanvas__toggle-burger--2 {
                transform: translateY(-2px);
            }
        }
    }

    &-burger {
        width: 25px;
        height: 2px;
        display: block;
        margin-bottom: 7px;
        transition: all 0.2s ease-in-out;
        background-color: var(--e-global-color-primary);

        @include media-breakpoint-up(lg){
            background-color: white;
        }

        &--2 {
            margin-bottom: 0;
        }
    }

    &--close {
        display: inline-block;
        width: 25px;
        height: 25px;
        transition: all 0.3s;

        &:hover {
            transform: rotate(90deg);
        }

        &-1, &-2 {
            background-color: pink;
            width: 25px;
            height: 2px;
            display: block;
            transform: rotate(45deg) translate(8px, 8px);
        }

        &-2 {
            transform: rotate(-45deg) translate(-7px, 7px);
        }
    }
}
