/*************************************************/
/* SCREEN BREAKPOINTS */
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1700px,
);

/*************************************************/
/* FONTS */
$font-sans-serif: 'Work Sans', sans-serif;
$font-size-root: 16px;

/*************************************************/
/* COLORS INHERIT FROM ELEMENTOR */
// var(--e-global-color-primary)
// var(--e-global-color-secondary)
// var(--e-global-color-text)
// var(--e-global-color-accent)

/*************************************************/
$grey: #707070;
$grey-400: #C3C3C3;
$light-grey: #EFEFEF;
$lightest-grey: #F9F9F9;
$border: #dbdbdb;

/* COLORS */
$colors: (
        'pink': var(--e-global-color-primary),
        'light-pink': var(--e-global-color-411d51e),
        'white': white,
        'black': var(--e-global-color-text),
        'grey': $grey,
        'light-grey': $light-grey,
        'lightest-grey': $lightest-grey,
);

/*************************************************/
/* IMAGES */
$images: '../images';
$fonts: '../fonts';

/*************************************************/
/* SPACINGS */
$gutter: 60px;
$gutter-md: 30px;
$gutter-sm: 15px;

$corner-width: 85px;
$corner-height: 60px;
$corner-border-width: 3px;

$input-height: 60px;

$header-lower-height: 100px;
$header-top-height: 40px;
$header-total-height: $header-lower-height + $header-top-height;

$table-attribute-cell-width: 110px;
$table-attribute-cell-width-sm: 60px;
$table-attribute-cell-padding: 20px;
$table-attribute-cell-padding-sm: 5px;
$table-attribute-cell-font: 14px;
$table-attribute-cell-font-sm: 13px;
$table-attribute-cell-line-height: 1.3;

$paging-border-width: 1px;

$screen-admin-min: 783px;
$screen-inner-content: 1000px;

$g-admin-bar-small: 32px;
$g-admin-bar-large: 46px;
$g-nav-item: 5px;

$letter-spacing: 0.4em;
$letter-spacing-md: 0.2em;
$letter-spacing-sm: 0.1em;
$letter-spacing-xs: 0.05em;
