// Home slider
.home-slider {
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(xl) {
    height: calc(100vh - #{$header-total-height});
  }

  &__text {
    max-width: 60%;
    position: relative;
    z-index: 1;

    &-inner {
      @include media-breakpoint-up(xl) {
        height: calc(100vh - #{$header-total-height});
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__bg-wrapper {
    position: relative;
    margin-right: 0;

    &:before {
      @include pseudo-content;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
    }
  }

  &__slide-wrapper,
  &__bg {
    display: block;
    width: 100%;

    @include media-breakpoint-up(xl) {
      height: calc(100vh - #{$header-total-height});

      .admin-bar & {
        height: calc(100vh - #{$header-total-height} - #{$g-admin-bar-small});
      }
    }
  }

  &__line {
    display: block;
    position: absolute;
    left: 0;
    top: 20%;
    width: $corner-border-width;
    height: 50%;
    background: $light-grey;
    z-index: 1;

    &::before {
      content: '';
      width: 13px;
      height: 13px;
      display: block;
      position: absolute;
      left: -5px;
      transform: rotate(-45deg);
      background: var(--e-global-color-primary);
      top: 0;
    }

    &-inner {
      background: var(--e-global-color-primary);
      display: block;
      height: 0;
      width: 100%;
      transition: all 0.3s;
    }
  }

  .btn--more-link {
    &::before {
      // animation-duration: 1s;
      // animation-fill-mode: both;
      // animation-iteration-count: infinite;
      // animation: bounce 5s infinite ease-in-out;
      // animation-delay: 2s;
    }
  }
}

// Timeline widget
.timeline {
  &__dates {
    @extend .h1;
    font-weight: 700;
    position: relative;

    &-item {
      display: block;
      width: 100%;
      color: white !important;
      -webkit-text-stroke: 1.2px var(--e-global-color-primary);
      transition: all 0.3s;
      text-decoration: none !important;

      @include media-breakpoint-up(lg) {
        margin-bottom: 60px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:hover, &--active {
        color: var(--e-global-color-primary) !important;
      }
    }
  }

  &__line {
    display: block;
    position: absolute;
    right: 10%;
    top: 30px;
    width: $corner-border-width;
    height: calc(100% - 60px);
    background: $light-grey;

    &::before, &::after {
      content: '';
      width: 13px;
      height: 13px;
      display: block;
      position: absolute;
      left: -5px;
      transform: rotate(-45deg);
    }

    &::before {
      background: var(--e-global-color-primary);
      transform: rotate(-45deg);
      top: 0;
    }

    &::after {
      background: white;
      border: 2px solid $light-grey;
      transform: rotate(-45deg);
      bottom: 0;
      transition: all 0.3s;
    }

    &--full {
      &::after {
        background: var(--e-global-color-primary);
        border-color: var(--e-global-color-primary);
      }

    }

    &-inner {
      background: var(--e-global-color-primary);
      display: block;
      height: 0;
      width: 100%;
      transition: all 0.3s;
    }
  }

  &__image {
    text-align: left;

    &-wrap {
      overflow: hidden;
      position: relative;

      &::after {
        @include media-breakpoint-up(lg) {
          content: '';
          background: url('#{$images}/timeline-white-fade.png');
          left: 0;
          bottom: 0;
          width: 100%;
          height: 200px;
          background-position: center bottom;
          background-size: cover;
          position: absolute;
        }
      }

      @include media-breakpoint-up(lg) {
        height: 570px;
      }
    }

    &-item {
      margin-bottom: 40px;
      position: relative;

      &::before, &::after {
        content: '';
        width: 135px;
        height: 80px;
        display: block;
        position: absolute;
        transition: all 0.3s;
        z-index: 1;
      }

      &::before {
        border-top: 2px solid var(--e-global-color-primary);
        border-left: 2px solid var(--e-global-color-primary);
        top: 0;
        left: 0;
      }

      &::after {
        border-bottom: 2px solid var(--e-global-color-primary);
        border-right: 2px solid var(--e-global-color-primary);
        bottom: 0;
        right: 0;
      }

      .h3, h3 {
        color: var(--e-global-color-primary) !important;
      }
    }

    .slick-list {
      @include media-breakpoint-up(lg) {
        overflow: visible;
      }
    }
  }
}

// Be inspired
.be-inspired {
  position: relative;

  &__nav {
    position: relative;

    @include media-breakpoint-up(lg) {
      padding: 30px 0 30px 30px;
    }
  }

  &__line {
    display: block;
    position: absolute;
    left: -10%;
    top: 0;
    width: $corner-border-width;
    height: 100%;
    background: $light-grey;

    &::before {
      content: '';
      width: 13px;
      height: 13px;
      display: block;
      position: absolute;
      left: -5px;
      background: var(--e-global-color-primary);
      transform: rotate(-45deg);
      top: 0;
    }

    &-inner {
      background: var(--e-global-color-primary);
      display: block;
      height: 0;
      width: 100%;
      transition: all 0.3s;
    }
  }

  .nav-tabs {
    border: none;

    .nav-item {
      display: block;
      width: 100%;
      text-align: center;

      @include media-breakpoint-up(lg) {
        margin-bottom: 20px;
        text-align: left;
      }

      .nav-link {
        padding: 10px 0;
        font-weight: 600;
        border: none !important;
        color: #9D9D9D;

        &.active {
          color: black;
          background-color: transparent;
        }
      }
    }
  }
}

// Modal be inspired
.modal {
  &--be-inspired {
    .modal-body {
      padding: 0;
    }

    .row {
      margin: 0;

      .col-lg-6 {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .pattern-bg {
      max-width: 100px;
    }

    p, .p {
      font-size: 90%;
    }

    .text-inner {
      @include media-breakpoint-up(lg) {
        max-width: 80%;
      }
    }

    .be-inspired-stats {
      p {
        margin-bottom: 0;
      }
    }
  }

  &__bg-image {
    padding-bottom: 93%;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

// Default loop item
.loop-item {
  position: relative;

  &::before {
    content: '';
    width: 55px;
    height: 40px;
    display: block;
    position: absolute;
    transition: all 0.3s;
    border-top: 2px solid var(--e-global-color-primary);
    border-left: 2px solid var(--e-global-color-primary);
    top: 0;
    left: 0;
    z-index: 1;
  }

  &:hover {
    &::before {
      width: 65px;
      height: 50px;
    }

    .loop-item__image {
      transform: scale(1);
    }

    .btn--arrow {
      @include media-breakpoint-up(xl) {
        cursor: pointer;
        background-position: 50%;

        &::after {
          width: 130%;
          height: 130%;
          opacity: 1;
        }
      }
    }
  }

  a:hover {
    text-decoration: none;
  }

  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    transition: all 0.3s;
    transform: scale(1.04);
    height: 350px;
  }

  &__cat {
    background: var(--e-global-color-primary);
    color: white !important;
    padding: 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    transition: all 0.3s;

    &:hover {
      text-decoration: none;
      padding: 10px 35px 10px 30px;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      border-left: 22px solid var(--e-global-color-primary);
      position: absolute;
      right: -22px;
      bottom: 0;
    }
  }

  &__text {
    background: white;
    padding: 20px 30px 10px 20px;

    @include media-breakpoint-up(lg) {
      min-height: 142px;
    }

    a {
      color: inherit;
      outline: none !important;
    }
  }

  &__title {
    font-size: rem(18px);
  }

  .btn--arrow {
    position: absolute;
    bottom: 0;
    right: 0;

    &::before {
      opacity: 0;
    }
  }
}

// Slick carousel items
.carousel-items {
  .slick-slide {
    margin: 0 15px;
  }

  .slick-list {
    margin: 0 -15px;
  }

  .carousel-item {
    max-width: 430px;
  }
}

.slick-dots li.slick-active button:before {
  color: var(--e-global-color-primary);
}

// Tabs showroom
.tabs-showroom {
  &__nav {
    border-bottom: 1px solid var(--e-global-color-primary);
  }

  .nav-link {
    font-weight: 500;
    position: relative;
    color: $grey-400 !important;
    min-width: 160px;
    font-size: 14px;

    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }

    &::after {
      content: '';
      display: block;
      height: 12px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -12px;
      padding-top: 10px;
      background: white url('#{$images}/tab-active-zagger.svg') no-repeat;
      opacity: 0;
      width: 115px;
    }

    &.active {
      color: #000 !important;
      background-color: white;

      &::after {
        opacity: 1;
      }
    }
  }

  .tab-content {
    .single-wpsl_stores & {
      h2 {
        font-size: 20px;
      }
    }

    ul {
      padding-left: 17px;

      .single-wpsl_stores & {
        @include media-breakpoint-up(md) {
          columns: 2;
        }

        @include media-breakpoint-up(xxl) {
          columns: 3;
        }
      }
    }
  }
}
