.woocommerce button.button.alt,
.single_add_to_cart_button {
  @extend .btn;

  :disabled,
  :disabled:hover,
  :disabled[disabled],
  :disabled[disabled]:hover,
  &.disabled,
  &.disabled:hover,
  &:hover {
    background-color: #fff;
    color: var(--e-global-color-primary);
  }
}

.woocommerce button.button.alt.single_add_to_cart_button {
  background-image: url('#{$images}/icon-order-cart.svg');
  background-position: left 10px center;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 40px;

  &.adding {
    background-image: url('#{$images}/loading.svg');
  }

  & + .added_to_cart {
    display: none;
  }
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  padding: 0.95em 1em 0.95em 3em;
  font-size: 13px;

  &:before {
    left: 1em;
  }
}

.woocommerce-message,
.woocommerce-info {
  border-top-color: var(--e-global-color-primary);

  &::before {
    color: var(--e-global-color-primary);
  }
}

.woocommerce-page {
  p:empty {
    display: none;
  }
}

.woo-order-received {
  &__header {
    padding-top: 5%;

    @media print {
      padding-top: 2%;
    }
  }
}

.woo-block-links {
  &__item {
    width: 60px;
    height: 60px;
    font-size: 27px;
    text-align: center;
    line-height: 60px;
    border: 0;
    box-shadow: none;
    outline: none;

    @include hover-focus-active {
      @include clear-outline;
    }
  }
}

.woo-cart {
  &__count {
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-100%);
    left: 23px;
    border-radius: 50%;
    color: var(--e-global-color-primary);
    font-size: 11px;
    text-align: center;
    line-height: 1.6;
    text-indent: 0;
    font-weight: 500;

    &:empty {
      display: none;
    }
  }

  &__wrapper {
    padding: 50px 10px 10px;

    @include media-breakpoint-up(xl) {
      padding: 10% 5%;
    }

    @include media-breakpoint-up(xl) {
      padding: 15% 10% 20%;
    }
  }

  &__header {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $light-grey;

    h5 {
      font-weight: 600;
    }
  }

  &__sidebar {
    z-index: 9999;

    .modal-content {
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      @include st-shadow;
      min-height: 100%;
    }

    .modal-dialog {
      margin: 0 0 0 auto;
      height: 100%;
      background-color: #fff;
    }

    .modal-body {
      padding: 0;

      .admin-bar & {
        padding-top: $g-admin-bar-small;
        @media (max-width: $screen-admin-min) {
          padding-top: $g-admin-bar-large;
        }
      }
    }

    &.fade .modal-dialog {
      transform: translate(100%, 0);
    }

    &.show .modal-dialog {
      transform: none;
    }

    .close {
      .admin-bar & {
        margin-top: 1rem;
      }
    }

    .woocommerce-mini-cart {
      .product-name {
        font-size: 18px;
        font-weight: 500;
      }

      .quantity__label {
        color: var(--e-global-color-primary);
        font-weight: 500;
      }

      .woocommerce-mini-cart-item {
        margin-top: 30px;
      }

      .thumbnail-wrapper {
        display: block;
        height: 114px;
        width: 100%;
        overflow: hidden;
        border: 1px solid $border;

        img {
          object-fit: cover;
          height: 115px;
          width: auto;
        }
      }
    }

    .woocommerce-mini-cart__total {
      font-weight: 600;
      margin: 25px 0 5px;
    }

    .cart_totals {
      h2 {
        display: none;
      }
    }

    .woocommerce table.shop_table {
      $g: 7px;

      tbody {
        td,
        th {
          font-weight: 500;
          padding-top: $g;
          padding-bottom: $g;
        }

        td {
          text-align: right;
        }
      }

      tr.order-total {
        td,
        th {
          padding-top: $g;
          padding-bottom: $g;
          font-size: 20px;
        }
      }
    }
  }

  &__toggle {
    a {
      display: inline-block;
      color: transparent !important;
      padding: 10px 15px !important;
      text-indent: -999px;
      overflow: hidden;
      vertical-align: -5px;
      width: 40px;
      height: 40px;
      background: url('#{$images}/shopping-cart.svg') center / 17px no-repeat;
    }
  }
}

.woocommerce .button.checkout {
  height: 70px;
  line-height: 2.7;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: 18px;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button {
  background-color: var(--e-global-color-accent);
  border-radius: 0;
  color: #fff;
  font-weight: 600;
  @include st-transition;

  &:hover {
    background-color: var(--e-global-color-primary);
    color: #fff;
  }
}

#calc_shipping_postcode_field,
#calc_shipping_city_field,
#calc_shipping_country_field {
  display: none !important;
}

.woocommerce-cart .cart-collaterals .shipping-calculator-form {
  margin-top: 0;
}

/*#yith-wacp-popup.slide-in-right .yith-wacp-wrapper {
  @include media-breakpoint-up(xl) {
    top: 0 !important;
    height: auto !important;
    bottom: 0 !important;
    left: auto !important;
    right: 0;
    max-height: none;

    .admin-bar & {
      top: $g-admin-bar-small !important;
    }
  }
}*/

.block-top-shop {
  /*TODO: Need to rework this CSS*/
  $gap: $g-nav-item;
  background-color: var(--e-global-color-primary);
  margin-bottom: 110px;

  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
    overflow: hidden;
    background-color: transparent;
  }

  a {
    height: 100%;
    width: 100%;
    padding: 5px;

    @include media-breakpoint-up(lg) {
      padding: 15px 5px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .container {
    @include media-breakpoint-up(xl) {
      max-width: 1320px !important;
    }

    @include media-breakpoint-down(md) {
      overflow-x: scroll;
      padding-bottom: 40px;
    }

    .row--main {
      @include media-breakpoint-down(md) {
        display: inline-block !important;
        white-space: nowrap;
        background-color: var(--e-global-color-primary);
      }
    }
  }

  .col {
    padding: 0;
    text-align: center;
    border-left: $gap solid white;
    max-width: 220px;
    background-color: var(--e-global-color-primary);
    min-height: 65px;

    &--has-icon {
      min-height: 120px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 100px;
    }

    @include media-breakpoint-down(md) {
      width: 115px;
      display: inline-block;
      padding: 5px 10px;
      vertical-align: top;
      margin-left: -5px;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 10px;
    }

    img {
      @include media-breakpoint-down(md) {
        max-width: 35px;
        height: 40px;
        object-fit: cover;
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      display: block;
      height: 25px;
      transition: all ease-in 200ms;
      background-color: var(--e-global-color-primary);
      clip-path: polygon(100% 0, 0 0, 50% 0%);

      @include media-breakpoint-up(lg) {
        height: 45px;
      }
    }

    &:before {
      @include media-breakpoint-down(md) {
        content: "";
        position: absolute;
        width: 50vw;
        left: 100%;
        top: 0;
        height: 100%;
        display: block;
        background-color: var(--e-global-color-primary);
      }
    }

    &.active:after,
    &:hover:after {
      clip-path: polygon(100% 0, 0 0, 50% 100%);
    }

    &:last-child {
      border-right: $gap solid #fff;
    }

    h3 {
      line-height: 1;
      color: white;
      font-weight: 600;
      padding: 10px 20px 10px;
      white-space: normal;
      margin-bottom: 0;

      @include media-breakpoint-up(lg) {
        word-break: break-word;
        hyphens: auto;
      }

      .tax-pa_fabric-product &,
      .tax-product_cat & {
        padding-left: 5px;
        padding-right: 5px;
      }

      @include media-breakpoint-down(md) {
        font-size: 14px;
        padding: 5px 5px 12px;
      }
    }
  }
}

.woocommerce-products-header {
  margin-bottom: $g-nav-item;
}

.woocommerce-products-header {
  min-height: 210px;

  @include media-breakpoint-up(lg) {
    min-height: 450px;
  }
}

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
  @include st-transition;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &:hover {
    @include st-card-hover;
  }
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  font-size: 16px;
  font-weight: 600;
  white-space: initial;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}

.woocommerce-loop-product__link {
  @extend .corner--top-left;
}

.woocommerce nav.woocommerce-pagination {
  margin-bottom: 2rem;
}

.woocommerce nav.woocommerce-pagination ul {
  border: 0;
}

.woocommerce nav.woocommerce-pagination ul li {
  border: 0;
  margin: 0 2px;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  color: var(--e-global-color-text);
  font-size: 14px;
  display: inline-block;
  min-width: 32px;
  font-weight: 500;
  line-height: 1.4;
  border: $paging-border-width solid $border;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
  color: var(--e-global-color-primary);
  background-color: transparent;
  border-color: var(--e-global-color-primary);
  font-weight: bold;
}

.woocommerce-archive-nav {
  background-color: var(--e-global-color-411d51e);

  a {
    text-decoration: none;
    color: var(--e-global-color-text);
    @include st-transition;
    padding-top: 20px;

    span {
      display: inline-block;
    }

    .inner-text {
      font-weight: normal;
      font-size: 16px;
      display: block;
    }

    img {
      @include st-transition;
    }

    &:hover {
      background-color: var(--e-global-color-primary);
      color: #fff;

      img {
        filter: invert(1);
      }
    }
  }
}

.yith-woocommerce-ajax-product-filter {
  @include media-breakpoint-up(lg) {
    .archive-with-topbar & {
      margin-right: 20px;
    }

    &.with-checkbox {
      .archive-with-topbar & {
        width: 15%;
      }
    }
  }

  .archive-with-sidebar & {
    margin-bottom: -1px;

    .title {
      border-bottom: 1px solid $border;
      border-top: 1px solid $border;
      padding: 5px 0 5px $g-nav-item;
      border-radius: 0;
      margin-bottom: 0;
      position: relative;
      cursor: pointer;

      @include media-breakpoint-up(lg) {
        padding: 15px 0 15px $g-nav-item;
      }

      .title-inner {
        display: inline-block;
        padding-bottom: 5px;
        margin-bottom: -2px;
        font-size: 16px;
        font-weight: 600;

        @include media-breakpoint-up(lg) {
          font-size: 20px;
        }
      }
    }

    .title-toggle {
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      right: $g-nav-item;
      top: 50%;
      margin-top: -13px;
      background: url('#{$images}/chev-up.svg') center / 16px no-repeat;
      cursor: pointer;
      @include st-transition;

      &.collapsed {
        transform: rotate(180deg);
      }
    }

    ul.yith-wcan {
      padding-left: 15px;
      padding-top: 20px;
      padding-bottom: 20px;

      @include media-breakpoint-down(md) {
        display: none;
      }

      li > span,
      a {
        color: var(--e-global-color-text);
        display: inline-block;
        padding-top: 7px;
        padding-bottom: 7px;
      }

      li > span {
        opacity: .4;
        display: none;
      }
    }

    .yith-wcan-color li {
      display: block;
      float: none;
      padding-top: 2px;
      padding-bottom: 2px;

      a {
        overflow: visible !important;

        &:before {
          opacity: 0;
        }
      }
    }

    &.yith-woo-ajax-reset-navigation {
      margin-bottom: 0;
      position: relative;

      a {
        position: absolute;
        /*top: 50%;
        transform: translateY(-50%);*/
        top: -40px;
        right: 0;
        text-decoration: underline;
        z-index: 99;
        font-weight: 400;
        padding: 0;
      }

      .title-toggle {
        display: none;
      }

      .title {
        border: 0;
        padding: 0;
        margin-bottom: 30px;
        display: none;

        .title-inner {
          font-size: 18px;
          color: $grey;
          font-weight: 500;
        }
      }
    }
  }
}

.widget_custom_html {
  .title {
    .archive-with-sidebar & {
      padding-left: $g-nav-item;
      font-size: 18px;
      color: $grey;
      font-weight: 500;
      margin-bottom: 10px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 20px;
      }
    }
  }
}

.yith-wcan-select-wrapper {
  border-color: $border;

  .archive-with-topbar & {
    display: none;
    z-index: 2 !important;
  }
}

.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li {
  border: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}

.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li:hover,
.woocommerce-page .widget_layered_nav .yith-wcan-select-wrapper ul li.chosen {
  box-shadow: none;
  border: 0;
}

.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li a,
.widget .yit-wcan-select-open {
  color: var(--e-global-color-text);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.yith-woocommerce-ajax-product-filter.with-checkbox ul:not(.yith-wcan-color) li {
  a:before {
    content: '';
    display: inline-block;
    background: url('#{$images}/checkbox-empty.svg') center / contain no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: -5px;
  }

  &.chosen {
    a {
      &:before {
        background-image: url('#{$images}/checkbox-checked.svg');
      }
    }
  }
}

.yith-woocommerce-ajax-product-filter.with-checkbox ul {
  margin-bottom: 0;

  &.yith-child-terms {
    padding-left: 20px;
  }

  li {
    &.chosen {
      a {
        font-weight: 600;
      }
    }
  }
}

a.yit-wcan-select-open {
  background: #f9f9f9 url('#{$images}/chev-down.svg') center right 15px / 16px no-repeat !important;
  color: var(--e-global-color-text) !important;
  text-decoration: none !important;
  border-color: $border;
  padding: 10px 50px 10px 20px;

  @include media-breakpoint-up(lg) {
    padding: 20px 50px 20px 20px;
  }
}

.filter-by {
  &__wrapper {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.tax-pa_product-type {
  #yith-woo-ajax-navigation-9 {
    display: none !important;
  }
}

.tax-pa_space {
  &.term-outdoor #yith-woo-ajax-navigation-12,
  #yith-woo-ajax-navigation-10 {
    display: none !important;
  }
}

.tax-pa_room {
  #yith-woo-ajax-navigation-12 {
    display: none !important;
  }
}

.tax-pa_purpose {
  #yith-woo-ajax-navigation-11 {
    display: none !important;
  }
}

.tax-pa_fabric-product {
  #yith-woo-ajax-navigation-14 {
    display: none !important;
  }
}

.archive-with-sidebar:not(.archive-spare-parts) .yith-woocommerce-ajax-product-filter > ul {
  max-height: 295px;
  overflow: hidden;
}

.yith-wcan-loading {
  background-size: 80px;
}

.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
  @include media-breakpoint-up(xl) {
    width: 32%;

    &:not(.last) {
      margin-right: 1.925%;
    }
  }
}

.colors-palette {
  flex-wrap: nowrap;
  font-size: 13px;
  font-weight: 500;

  &__item {
    margin-right: 10px;
    text-align: center;
    width: 70px;
    overflow: hidden;
    flex-shrink: 0;
    display: block;
  }

  a.colors-palette__item {
    text-decoration: none;

    @include media-breakpoint-down(sm) {
      width: 90px;
      margin: 10px;
    }

    img {
      border: 2px solid transparent;
    }

    @include hover-focus-active {
      img {
        border-color: var(--e-global-color-primary);
      }
    }
  }

  &__img {
    display: block;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  &__title {
    color: $grey;
    line-height: 1;
    margin-top: 5px;
    padding: 3px 5px;
    hyphens: auto;
    word-break: break-word;
  }

  &__more {
    color: var(--e-global-color-primary);
  }

  &--medium {
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }

    .colors-palette__img {
      width: 90px;
      height: 90px;
    }

    .colors-palette__title {
      hyphens: none;
    }

    .colors-palette__item {
      width: 90px;
      margin-right: 10px;
      margin-bottom: 15px;
    }
  }
}

.woocommerce ul.products li.product {
  .woocommerce-loop-product__link:before {
    top: -$corner-border-width;
    left: -$corner-border-width;
  }

  table {
    tr.woocommerce-product-attributes-item {
      display: none;

      &--attribute_pa_fabric-product,
      &--attribute_pa_opacity {
        display: table-row;
      }
    }
  }
}

.woocommerce .quantity .qty {
  height: 40px;
  border: 1px solid $border;
  margin-bottom: 10px;

  @include media-breakpoint-up(md) {
    height: 54px;
    margin-bottom: 0;
  }
}

.product-attributes {
  &--light {
    table {
      th, td {
        font-size: $table-attribute-cell-font;
        vertical-align: top;
        padding-bottom: 10px;
        line-height: $table-attribute-cell-line-height;

        @include media-breakpoint-down(md) {
          font-size: $table-attribute-cell-font-sm;
        }
      }

      th {
        color: $grey;
        font-weight: 400;
        padding-right: $table-attribute-cell-padding;
        width: $table-attribute-cell-width;

        @include media-breakpoint-down(md) {
          padding-right: $table-attribute-cell-padding-sm;
          width: $table-attribute-cell-width-sm;
        }
      }

      td {
        color: $grey;
        font-weight: 500;

        a {
          color: $grey;
          text-decoration: underline !important;
        }
      }
    }
  }
}

#modal-fabric-opacity {
  z-index: 1053;
}

#ajax-modal-product {
  z-index: 1052;

  .modal-body {
    padding: 50px 10px 10px;

    @include media-breakpoint-up(lg) {
      padding: 5%;
    }
  }

  div.product {
    div.images {
      float: none;
      width: 100%;
      margin-bottom: 0;

      .woocommerce-product-gallery__wrapper {
        a {
          display: block;

          img {
            object-fit: cover;
            height: 250px;

            @include media-breakpoint-up(lg) {
              height: 600px;
            }
          }
        }
      }
    }

    .variations_title,
    .product_title {
      font-weight: 600;
    }
  }

  .variations {
    td.label {
      padding-right: $table-attribute-cell-padding;
      width: $table-attribute-cell-width;
      line-height: $table-attribute-cell-line-height;

      @include media-breakpoint-down(md) {
        padding-right: $table-attribute-cell-padding-sm;
        width: $table-attribute-cell-width-sm;
      }

      label {
        color: $grey;
        font-weight: 400;
        font-size: $table-attribute-cell-font;

        @include media-breakpoint-down(md) {
          font-size: $table-attribute-cell-font-sm;
        }
      }
    }

    select {
      visibility: hidden;
      opacity: 0;
      position: absolute;
    }
  }

  tr.woocommerce-product-attributes-item--attribute_pa_range,
  tr.woocommerce-product-attributes-item--attribute_pa_colour-scheme,
  tr.woocommerce-product-attributes-item--attribute_pa_colour,
  tr.woocommerce-product-attributes-item--attribute_pa_opacity {
    display: none;
  }

  .colors-palette {
    flex-wrap: wrap;

    .radio-holder {
      margin-right: 0;
    }

    &__title {
      font-weight: 500;
    }

    &__item {
      margin-top: 7px;
    }
  }
}

.radio-holder {
  margin: 0;
  padding: 0;

  .radio-label {
    cursor: pointer;
    position: relative;
    display: inline-block;
  }

  input[type="radio"] {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
}

.woo-custom-checkboxes {
  .radio-holder {
    margin-right: 5px;

    .colors-palette__img img {
      border: 2px solid transparent;
    }

    input[type="radio"] {
      &:checked + .radio-label {
        .badge-primary {
          background-color: var(--e-global-color-primary);
          color: #fff;
        }

        .colors-palette__img img {
          background-color: var(--e-global-color-primary);
        }
      }
    }

    .colors-palette__item:hover {
      .colors-palette__img img {
        background-color: var(--e-global-color-primary);
      }
    }

    input[type="radio"]:disabled + .radio-label {
      opacity: .2;
      cursor: not-allowed;
    }
  }
}

#modal-fabric-opacity[style*="display: block"] {
  & ~ #ajax-modal-product {
    display: none !important;
  }
}

.woocommerce-billing-fields .form-row, .woocommerce-shipping-fields .form-row, .woocommerce form .form-row {
  display: block;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
  max-width: unset;
}

.order-summary-box {
  border: 1px solid $border;
  padding: 2rem;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
  width: 49%;
}

.woocommerce form .form-row {
  padding: 0;
  margin-bottom: 1rem;
}

.woocommerce-checkout #payment ul.payment_methods {
  padding-left: 0;
  padding-right: 0;
}

form.checkout {
  h3 {
    font-weight: 600;
  }
}

.woocommerce form .form-row select, .woocommerce-page form .form-row select {
  height: 55px;
}

.woocommerce #order_review {
  margin: 20px 0 0;

  #payment {
    padding: 0;
    background: transparent;

    #place_order {
      margin-top: 30px;
    }
  }
}

#ship-to-different-address {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.woocommerce table.shop_table {
  border: none;
  border-collapse: collapse;

  th, td {
    padding: 9px 0;
    border: none !important;

    &:last-child {
      text-align: right;
    }
  }

  tr.order-total {
    th, td {
      padding: 25px 0;
      border-top: 1px solid $border !important;
    }
  }

  &.woocommerce-checkout-review-order-table {
    margin-bottom: 0;

    .order-total {
      th,
      strong .amount {
        font-size: 22px;
      }

      small {
        display: block;
      }
    }
  }
}

#order_review_heading {
  font-weight: 600;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
  background-color: transparent;
}

#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
  background-color: var(--e-global-color-411d51e);
}

#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
  border-color: transparent transparent var(--e-global-color-411d51e);
}

dl.variation {
  dt, dd {
    color: $grey;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
  }

  dt {
    float: left;
    padding-right: 10px;
  }
}

div.product div.images.woo-images {
  //max-height: 700px; // Fallback
  //max-height: calc(100vh - #{$header-total-height});
  max-height: 400px;
  overflow: hidden;

  .pink {

    @include media-breakpoint-down(sm) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  img.wp-post-image {
    @include media-breakpoint-down(sm) {
      min-height: 400px;
      object-fit: cover;
    }
  }

  @include media-breakpoint-up(lg) {
    max-height: 600px;
  }

  @include media-breakpoint-up(xl) {
    max-height: 1200px;
  }

  &:after {
    @include media-breakpoint-down(md) {
      @include pseudo-content;
      z-index: 1;
      bottom: 0;
      height: 70px;
      left: 0;
      right: 0;

      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    }
  }

  //.admin-bar & {
  //  max-height: calc(100vh - #{$header-total-height} - #{$g-admin-bar-small});
  //  @media (max-width: $screen-admin-min) {
  //    max-height: calc(100vh - #{$header-total-height} - #{$g-admin-bar-large});
  //  }
  //}

  .woocommerce-product-gallery__image {
    margin-top: 10px;

    &:first-of-type {
      margin-top: 0;
    }

    &:nth-child(n+2) {
      width: 100%;
      display: block;
    }
  }
}

.woocommerce ul#shipping_method .amount {
  font-weight: 500;
}

.product_cat-spare-parts {
  .woocommerce div.product div.summary {
    select#pa_colour {
      @include media-breakpoint-down(sm) {
        padding: 10px;
        margin-bottom: 4px;
      }
    }

    .read-more {
      @include media-breakpoint-down(sm) {
        text-align: left;
      }
    }

    .variations {
      td {
        label {
          @include media-breakpoint-down(sm) {
            padding-top: 12px;
          }
        }
      }
    }

    .quantity {
      @include media-breakpoint-down(sm) {
        padding-left: 0px !important;
      }

      .font-weight-medium {
        @include media-breakpoint-down(sm) {
          font-weight: 700;
        }
      }
    }
  }
}

.woocommerce div.product div.summary {
  padding: 3% 10px;

  .entry-title {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .read-more {
    h6 {
      @include media-breakpoint-down(sm) {
        padding-bottom: 6px;
      }
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-right: 10%;
  }

  @include media-breakpoint-up(xxl) {
    padding-right: calc((100% - 1340px) / 2);
    margin-bottom: 100px;
  }
}

.woocommerce .woocommerce-breadcrumb {
  color: $grey;

  a {
    color: var(--e-global-color-primary);
  }
}

.related.products {
  clear: both;
  padding: 100px 0 0;
  background: transparent url('#{$images}/bg3.svg') left top / 90px repeat-x;

  @include media-breakpoint-up(xl) {
    position: relative;
    top: -70px;
    z-index: 1;
  }

  li.product {
    margin-bottom: 0 !important;

    &:nth-child(3n) {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}

.woocommerce .related.products ul.products.columns-3 {
  @include media-breakpoint-down(sm) {
    overflow: auto;

    li.product {
      min-width: 70% !important;
      margin-right: 15px;
      margin-bottom: 30px !important;
    }
  }
}

.related.products .woocommerce-loop-product__link:before {
  display: none;
}

.related.products .btn--arrow {
  position: absolute;
  right: 0;
  bottom: 8px;
}

.related.products .btn--arrow:after {
  display: none;
}

.woocommerce-page .related.products ul.products li.product {
  .woocommerce-loop-product__title {
    max-width: 90%;
  }

  .price {
    display: none;
  }
}

.woocommerce-page .related.products ul.products.columns-3 li.product,
.woocommerce .related.products ul.products.columns-3 li.product {
  border: 1px solid #e8e8e8;
}

.term-description,
.page-description {
  padding: 0 0 4%;
}

.woo-downloads {
  a {
    font-weight: 500;
    text-decoration: none;
    color: $grey;
  }

  .row + .row {
    border-top: 1px solid $border;
  }

  &__title {
    line-height: 1;
  }
}

#woo-tab-fabric {
  .mt-4 {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: none;
  width: 100%;
  border: 1px solid $border;
  padding: 15px;

  @include media-breakpoint-up(xl) {
    padding: 40px 50px 35px;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  table {
    th {
      font-weight: 500;
    }

    td {
      text-align: right;
    }
  }
}

.woocommerce table.shop_table {
  .woocommerce-cart-form__cart-item {
    td,
    th {
      border-top: 1px solid $border !important;
      padding: 10px 0;

      @include media-breakpoint-up(lg) {
        padding: 20px 0;
      }
    }

    & + .woocommerce-cart-form__cart-item {
      td,
      th {
        border-top: 1px solid $border !important;
      }
    }

    td {
      &:last-child {
        text-align: right;
      }
    }
  }

  .product-thumbnail {
    padding-right: 10px !important;
    @include media-breakpoint-up(xl) {
      width: 180px;
    }
  }

  .product-remove {
    a.remove {
      &,
      &:hover {
        text-align: right;
        font-size: 14px;
        height: auto;
        width: auto;
        line-height: 1;
        border-radius: 0;
        color: var(--e-global-color-primary) !important;
        text-decoration: underline;
        font-weight: normal;
        border: 0;
        background-color: transparent;
      }
    }
  }
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
  width: 150px;
}

#add_payment_method #payment div.form-row, .woocommerce-cart #payment div.form-row, .woocommerce-checkout #payment div.form-row {
  padding-left: 0;
  padding-right: 0;
}

ul.products li.product {
  .archive-spare-parts & {
    border: 1px solid $border;

    .btn--arrow::after {
      content: none;
    }
  }

  .colors-palette__item {
    @include media-breakpoint-down(md) {
      width: 40px;

      .colors-palette__img {
        width: 40px;
        height: 40px;
      }

      .colors-palette__title {
        display: none;
      }
    }
  }

  .woocommerce-loop-product__link {
    &:before {
      .archive-spare-parts & {
        content: none !important;
      }
    }
  }
}

.archive-spare-parts.woocommerce ul.products li.product .woocommerce-placeholder {
  border: 0;
}

.woocommerce div.product p.price, .woocommerce div.product span.price,
.woocommerce ul.products li.product .price {
  color: var(--e-global-color-primary);
  font-size: 1.2rem;
  font-weight: 600;

  @include media-breakpoint-up(xl) {
    font-size: 1.5rem;
  }
}

.woocommerce div.product p.price {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.woocommerce-order-received {
  .wc-item-meta {
    padding-left: 0;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid $border;
    padding-bottom: 10px;
  }

  .col2-set .col-2, .col2-set .col-2,
  .col2-set .col-1, .col2-set .col-1 {
    float: none;
    width: 100%;
  }

  .woocommerce-customer-details address {
    padding: 0;
    border: 0;
    border-radius: 0;

    &,
    &:last-child {
      margin-bottom: 40px;
    }
  }

  .woocommerce-order-details {
    .product-name > a {
      font-weight: 500;
      color: var(--e-global-color-text);
    }

    .wc-item-meta {
      color: $grey;
      font-size: 14px;

      strong {
        font-weight: normal;
      }
    }

    tfoot {
      tr:last-child,
      tr:first-child {
        th,
        td {
          border-top: 1px solid $border !important;
        }
      }
    }
  }
}

.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email::before {
  color: transparent;
  background: url('#{$images}/icon-email.svg') center / contain no-repeat;
  line-height: 1.5;
}

.woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone::before {
  color: transparent;
  background: url('#{$images}/icon-phone.svg') center / contain no-repeat;
  line-height: 1.5;
}

.woocommerce .widget_layered_nav ul.yith-wcan-color li a:hover,
.woocommerce-page .widget_layered_nav ul.yith-wcan-color li a:hover,
.woocommerce .widget_layered_nav ul.yith-wcan-color li.chosen a,
.woocommerce-page .widget_layered_nav ul.yith-wcan-color li.chosen a,
.woocommerce .widget_layered_nav ul.yith-wcan-color li span:hover,
.woocommerce-page .widget_layered_nav ul.yith-wcan-color li span:hover,
.woocommerce .widget_layered_nav ul.yith-wcan-color li.chosen span,
.woocommerce-page .widget_layered_nav ul.yith-wcan-color li.chosen span {
  border-color: var(--e-global-color-primary);
}

.woocommerce table.shop_table td small {
  display: block;
  line-height: 1.1;
  font-size: 14px;
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
  background-color: transparent;
}

.single_variation_wrap {
  padding-left: 110px;

  @include media-breakpoint-down(lg) {
    padding-left: 0px;
  }

  .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
    @include media-breakpoint-down(lg) {
      text-align: center;
    }

    .quantity {
      @include media-breakpoint-down(lg) {
        padding-left: 60px;
      }
    }

    .woocommerce div.product form.cart .button {
      @include media-breakpoint-down(lg) {
        float: none !important;
        margin-top: 20px !important;
      }
    }
  }

}

h3.product_title.entry-title.mb-3 {
  @include media-breakpoint-down(lg) {
    margin-top: 30px;
  }
}

[name="apply_coupon"] {
  height: 37px;
}

[name="coupon_code"] {
  min-width: 200px;
}

.link--continue-shopping + .link--continue-shopping {
  display: none !important;
}
