<div class="row row-collapse">
  <div class="col-md-6 col-12">
    <div class="select-wrap consult-type">[select placeholder consult-type "Consultation Type" "FREE In-home Consultation" "FREE Video Consultation" "FREE DIY Consultation"]</div>
  </div>

  <div class="col-md-6 col-12">
    <div class="select-wrap">
      [select title "Best time to call" "9am" "10am" "11am" "12pm" "1pm" "2pm" "3pm" "4pm" "5pm"]
    </div>
  </div>
</div>

<div class="row row-collapse">
  <div class="col-lg-6 col-12">
    [text* full-name placeholder "name*"]
  </div>

  <div class="col-lg-6 col-12">
    [email email placeholder "Email*"]
  </div>
</div>

<div class="row row-collapse">
  <div class="col-lg-6 col-12">
    [tel* phone placeholder "Phone*"]
  </div>

  <div class="col-lg-6 col-12">
    [text* postcode placeholder "Postcode"]
  </div>
</div>

<div class="row row-collapse">
  <div class="col-12 pt-lg-3">
    [textarea tell-us-more placeholder "Tell us a little more about your enquiry"]
  </div>

  <div class="mb-3">
    [recaptcha]
  </div>

  <div class="col-12 pt-4 text-right">
    [submit class:btn "Book Now"]
  </div>
</div>
