<div class="form-quote">
  <div class="text-center pb-5">
    <h2 class="text-bold">House Plans – Request for Estimate Quote</h2>
    <p>To receive an estimate quote using your house plans, please complete the form below and make sure to upload any relevant documentation you have.</p>
  </div>

  <div class="">
    <div class="row row-collapse">
      <div class="col-lg-6 col-12">
        [text* first-name placeholder "First Name*"]
      </div>

      <div class="col-lg-6 col-12">
        [text* last-name placeholder "Last Name*"]
      </div>
    </div>

    <div class="row row-collapse">
      <div class="col-lg-6 col-12">
        [tel* phone placeholder "Phone Number*"]
      </div>

      <div class="col-lg-6 col-12">
        [tel* mobile placeholder "Mobile Number*"]
      </div>
    </div>

    <div class="row row-collapse">
      <div class="col-lg-6 col-12">
        [email email placeholder "Email Address*"]
      </div>

      <div class="col-lg-6 col-12">
        [email email placeholder "Postcode*"]
      </div>
    </div>

    <div class="row row-collapse">
      <div class="col-12">
        [text address1 placeholder "Address 1*"]
      </div>

      <div class="col-12">
        [text address2 placeholder "Address 2*"]
      </div>

      <div class="col-12">
        <div class="select-wrap">
          [select title "Type all preferred Wynstan product(s)" "Option 1" "Option 2" "Option 3" "Option 4" "Option 5"]
        </div>
      </div>

      <div class="col-12 pt-3">
        <label class="pb-3 pt-3" for="">
          <span class="pb-3 d-block">Upload your floor plan (with elevation and schedule with measurements)</span>
          [file upload-resume]
        </label>
      </div>

      <div class="col-12 pt-3">
        <label for="">
          <span class="pb-3 d-block">Preferred contact method?</span>
          [radio contact-method use_label_element default:1 "Phone" "Email"]
        </label>
      </div>

      <div class="col-12 pt-3 text-right">
        [submit class:btn class:btn--outline "Submit"]
      </div>
    </div>

  </div>

</div>
