<div class="row">
  <div class="col-md-6">[text* Name placeholder "Name (Required)"]</div>
  <div class="col-md-6">[email* Email placeholder "Email (Required)"]</div>
</div>

<div class="row">
  <div class="col-md-6">[tel* phone placeholder "Phone (Required)"]</div>
  <div class="col-md-6">
    <div class="select-wrap">[select placeholder select-best-time "Best time for us to call" "9 am" "10 am" "11 am" "12 pm" "1 pm" "2 pm" "3 pm" "4 pm" "5 pm"]</div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">[text Suburb placeholder "Suburb"]</div>
  <div class="col-md-6">[text* ZIP Code placeholder "Postcode (Required)"]</div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <p class="mb-2"><strong>Upload a resume</strong></p>
    [file resume limit:5000000 filetypes:doc|docx|pdf|txt|rtf]
    <p><small>Accepted file types: .doc, .docx, .pdf, .txt and .rtf (5MB limit).</small></p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <p class="mb-2"><strong>Upload a cover letter</strong></p>
    [file coverletter limit:5000000 filetypes:doc|docx|pdf|txt|rtf]
    <p><small>Accepted file types: .doc, .docx, .pdf, .txt and .rtf (5MB limit).</small></p>
  </div>
</div>

<div class="mb-3">
  [recaptcha]
</div>

<div class="row">
  <div class="col-12">[submit class:btn "Send Message"]</div>
</div>