<div class="form-support">
  <div class="text-left pb-2">
    <h4>Your details</h4>
  </div>

  <div class="row row-collapse">
    <div class="col-lg-6 col-12">
      [text* first-name placeholder "First Name*"]
    </div>

    <div class="col-lg-6 col-12">
      [text* last-name placeholder "Last Name*"]
    </div>
  </div>

  <div class="row row-collapse">
    <div class="col-12">
      [text* street-address placeholder "Street address* (Where the product was installed)"]
    </div>
  </div>

  <div class="row row-collapse">
    <div class="col-lg-6 col-12">
      [tel* phone placeholder "Phone*"]
    </div>

    <div class="col-lg-6 col-12">
      [text city placeholder "City*"]
    </div>
  </div>

  <div class="row row-collapse">
    <div class="col-lg-6 col-12">
      [email email placeholder "Postcode*"]
    </div>

    <div class="col-lg-6 col-12">
      <div class="select-wrap">
        [select state "State*" "NSW" "VIC" "QLD" "ACT" "WA" "SA" "NT" "TAS"]
      </div>
    </div>
  </div>

  <div class="row row-collapse">
    <div class="col-12">
      [email* email-address placeholder "Email*"]
      [email* email-confirm placeholder "Confirm email*"]
    </div>
  </div>

  <div class="text-left pb-2 pt-5">
    <h4>Your product</h4>
  </div>

  <div class="row row-collapse">
    <div class="col-lg-6 col-12">
      <div class="select-wrap">
        [select product-category "Category*" "Option 1" "Option 2" "Option 3" "Option 4" "Option 5"]
      </div>
    </div>

    <div class="col-lg-6 col-12">
      <div class="select-wrap">
        [select product-type "Product*" "Option 1" "Option 2" "Option 3" "Option 4" "Option 5"]
      </div>
    </div>

    <div class="col-lg-6 col-12">
      [text sale-order-number placeholder "Sale order number"]
    </div>

    <div class="col-lg-6 col-12">
      [text purchase-year placeholder "Year of purchase"]
    </div>

    <div class="col-12">
      [text showroom placeholder "Wynstan showroom you purchased from"]
    </div>
  </div>

  <div class="text-left pb-2 pt-5">
    <h4>About your enquiry</h4>
  </div>

  <div class="row row-collapse">
    <div class="col-12">
      [textarea enquiry placeholder "Tell us a bit about your enquiry"]

      <div class="row pt-4">
        <div class="col-lg-8 col-12">
          <p class="text-bold">Upload photos or videos</p>
          <p>Accepted file types: .jpeg, .png, .pdf, .mov, <br>.mp4, .zip (15MB limit).</p>
        </div>

        <div class="col-lg-4 col-12 d-flex align-items-center">
          [file file-upload limit:15 filetypes:jpeg|png|pdf|mov|mp4|zip]
        </div>
      </div>

      <div class="border-top mt-4 pt-4 pb-5">
        [acceptance understood-privacy-policy] I have read and understood the <a href="/privacy-policy">Privacy Policy</a> [/acceptance]
        [acceptance subscribe-newsletter optional] I wish to receive the latest news and offers from Wynstan [/acceptance]
      </div>
    </div>
  </div>

  <div class="row row-collapse">
    <div class="col-12 pt-3 text-center">
      [submit class:btn class:btn--outline "Submit"]
    </div>
  </div>
</div>
</div>

</div>
